################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/TestAPI/TestAPI/obj
/TestAPI/.vs/TestAPI/v16
/APITest1/APITest1/bin/Debug/netcoreapp3.1
/APITest1/APITest1/obj
